
.Postss__title{
  margin:10px;
  font-size:30px;
  border-style:solid;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  cursor: pointer;

}


.article_container{
	margin: auto;
	width: 600px;
}

.article_img{
	margin: 20px 0;
	width: 100%;
	height: 450px;
  object-fit: cover;
  cursor: pointer;
}


.title_group{
	margin: 30px 70px;
	font-weight: bold;
}