

.nav__list{
    padding:0;
    list-style:none;
    margin-right:10px;
    text-align:right;
    position:relative;
}

.nav__list li {
    background: transparent;
    text-align:left;
    display:inline-block;
    margin-right:10px;
    transition:background 0,3s;   
    padding:10px;
    cursor:pointer;
}
.nav__list h2 {
    display:inline-block;
     margin-right:950px;
}

.nav__list li:hover {
background:rgba(0, 0, 0, 0.2);
}

.nav__list .active{
background:rgba(0, 0, 0, 0.6);
}
.nav__list a{
    text-decoration:none;
    color:black;
}

.nav__title {
    display:inline-block;
    padding:0;
    text-align:left;
    left:0;
 }
